.tournament-game__team {
  width: 100%;
  padding: 0.5rem;
}

.tournament-game__team__header {
  text-align: center;
  margin-bottom: 0.75rem;
}

.tournament-game__team__list {
  padding: 0.5rem;
  background-color: var(--background-color_darker);
  border-radius: 12px;
  overflow: hidden;
}

.tournament-game__team__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.tournament-game__team__item + .tournament-game__team__item {
  border-top: 1px solid var(--background-color_lighter);
}
.team__item__ready[data-state="ready"] {
  color: var(--green);
}

.team__item__ready[data-state="not-ready"] {
  color: var(--red);
}

.team__item_left {
  display: flex;
  gap: 0.5rem;
}
