.team__wrapper {
}

.team__list {
  max-width: 600px;
  padding: 1rem 0.75rem;
  --_border-width: 3px;
  border-right: var(--_border-width) solid var(--accent-color);
  border-left: var(--_border-width) solid var(--accent-color);
  border-radius: 12px;
}
