.bracket {
    --_col_width: 240px;
    --_col_count: 5;
    --_col_gap: 88px;
    --_header_text_medium: 1.5rem;
    --_header_text_small: 1.375rem;
    --_header_text_large: 1.625rem;
}

.bracket__headers {
    display: grid;
    grid-template-columns: repeat(var(--_col_count), var(--_col_width));
    gap: var(--_col_gap);
}


.bracket__column__name {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.625rem;
}

.bracket__header__text_small {
    font-size: var(--_header_text_small);
}

.bracket__header__text_medium {
    font-size: var(--_header_text_medium);
}

.bracket__header__text_large {
    font-size: var(--_header_text_large);
}