.hero {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero__info {
    display: grid;
    gap: 3rem;
}

.hero__info__top {
    display: grid;
    gap: 1rem;
    justify-items: start;
}

.hero__title {
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent-color);
}

.hero__text {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}


.hero__info__bot {
    display: grid;
    gap: 2rem;
}

.hero__img {
    scale: 1.2;
}
