.tournament-game__wrapper > h2 {
  text-align: center;
}

.tournament-game__content {
  margin-inline: auto;
  width: clamp(300px, 60%, 500px);
  display: grid;
  gap: 3rem;
}

@media (min-width: 500px) {
  .tournament-game__content {
    grid-template-columns: 1fr 1fr;
  }
}

.tournament-game__team {
  padding: 0.5rem;
}

.tournament-game__team__header {
  text-align: center;
  margin-bottom: 0.75rem;
}

.tournament-game__team__list {
  padding: 0.25rem;
  background-color: var(--background-color_darker);
}

.tournament-game__team__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tournament-game__team__item + .tournament-game__team__item {
  margin-top: 0.5rem;
}
