.tournament-game__wrapper > h2 {
  text-align: center;
}

.tournament-game__content {
  margin-inline: auto;
  max-width: 700px;
  display: grid;
  gap: 3rem;
}

@media (min-width: 500px) {
  .tournament-game__content {
    grid-template-columns: 1fr 1fr;
  }
}

.tournament__game__btn {
  display: block;
  margin-inline: auto;
  margin-top: 0.25rem;
}
